<template>
	<main>
		<Header/>
		<router-view/>
		<Popups/>
		<Preloader/>
	</main>
</template>

<script>
import helper from "./mixins/helper";
import Popups from "./components/Popups";
import Preloader from "./components/Preloader";
import Header from "./components/layouts/Header";

export default {
	mixins: [helper],
	components: {
		Header,
		Popups,
		Preloader,
	},
	watch: {
		'$route':{
			handler: (to, from) => {
				document.title = to.meta.title || 'Test'
			},
			immediate: true
		}
	},
	computed: {
		isAuth: function () {
			return this.$User() !== null;
		}
	}
}
</script>
