.el-notification {
    .el-notification__group {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .el-notification__content {
            margin: 0;
        }
    }
}
