<template>
	<section @click="close($event)">
		<login v-if="popups.login"></login>
	</section>
</template>

<script>
import $ from 'jquery';
import helper from "../mixins/helper";
import Login from "./popups/Login";

export default {
	mixins: [helper],
	components: {
		Login,
	},
	data(){
		return {
			newUser:'',
			deleteAccount: false,
			deleteSubscription: false
		}
	},
	methods: {
		close(event){
			if ($(event.target).parents('.popups-background').length === 0){
				this.$TogglePopup(undefined);
				document.body.classList.remove('disable-scroll');
			}
		}
	},
	computed: {
		popups: function () {
			return this.$store.getters.getPopups;
		}
	}
}
</script>
