img.lazy,
img.v-lazy-image{
    opacity: 0;
}

img:not(.initial) {
    transition: opacity 1s;
}

img.initial,
img.loaded,
img.swiper-lazy-loaded,
img.v-lazy-image-loaded,
img.error {
    opacity: 1;
}

img:not([src]) {
    visibility: hidden;
}
