<template>
	<div>
		<button @click="toggleSidebar">Open Sidebar</button>
		<button @click="setPreloader">Preloader</button>
	</div>
</template>

<script>
import helper from "../../mixins/helper";

export default {
	name: "Header",
	mixins: [helper],
	beforeMount() {
		this.$User();
		this.$store.commit('setSidebar', this.sidebar)
	},
	methods: {
		toggleSidebar() {
			this.$store.commit('setSidebar', !this.sidebar);
		},
		setPreloader(){
			this.$store.commit('setPreloader', true);
		}
	},
	computed: {
		sidebar: function () {
			return this.$store.getters.getSidebar;
		}
	}
}
</script>
